<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SmokeSuite">
  <test thread-count="5" name="ChromeTest">
    <classes>
      <class name="testNG.V02TestNG"/>
      <class name="testNG.V04Annotations"/>
      <class name="testNG.V01TestNGInstallationCheck"/>
      <class name="testNG.V03testAnnotationsDemo"/>
      <class name="testNG.V01TestNG"/>
    </classes>
  </test> <!-- ChromeTest -->
</suite> <!-- SmokeSuite -->
